 
<div class="issuescontainer" >
    <div style='clear:both' />
    <h1>{{ lastupdate | date : "HH:mm:ss"}} | Majordodo</h1>
    <div style='clear:both' />
    <div class="spetoolbar">
        <button ng-click="go('/home')" >Home</<button>
        <button ng-click="go('/search')" >Search</<button>                       
        <button ng-click="go('/slots')" >Slots</<button>                       
        <button ng-click="go('/resources')" >Resources</<button>
        <button ng-click="go('/task')" >Search Task</<button>   
        <button ng-click="go('/worker')" >Search Worker</<button>                               
    </div>
    <div class="controls" >        
        URL <input ng-model="brokerUrl" value='' >  
        ID <input ng-model="workerId" value='' ng-change="refreshPage()"> <button ng-click="refreshPage()" >Refresh</button>  
    </div>    
    <div class="deliverydetailcontainer"  >
        <h3>Worker status</h3>
        <table cellpadding="0" cellspacing="0" border="0" class="deliverydetail"  ng-show="worker.status" >
            <thead>
                <tr><td>ID</td><td>{{worker.workerId}}</td>
                <tr><td>Process<td>{{worker.processId}}</td>
                <tr><td>Location<td>{{worker.location}}</td>
                <tr><td>Last Connection<td>{{worker.lastConnectionTs | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                <tr><td>Status<td>{{worker.status}}</td>
                <tr ng-show="status.currentLedgerId > 0"><td>Log Position<td>{{status.currentLedgerId}}/{{status.currentSequenceNumber}}</td>
        </table>
     <div ng-hide="(worker.status && workerId) || loading">
            Task {{workerId}} not found
        </div>
        <div ng-show="loading && workerId">
            Loading task {{workerId}}
        </div>
    </div>
   
</div>