<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" >Last update : {{ lastupdate | date : "HH:mm:ss"}}</a></li>
        </ul>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click="go('/home')">Majordodo</a>
        </div>

        <div class="navbar-collapse collapse" id="searchbar">
            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <form >
                            <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                            <input ng-keyup="keyPress($event)" ng-model="$parent.brokerUrl" class="form-control" name="search" placeholder="Insert url" autocomplete="off" autofocus="autofocus" type="text" >
                        </form>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <!--fine in alto-->

    <!--inizio a sinistra-->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="" ng-click="go('/home')"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                </li>
                <li>
                    <a href="" ng-click="go('/workers')"><i class="fa fa-bar-chart-o fa-fw"></i> Workers</a>
                </li>
                <li>
                    <a href="" ng-click="go('/search')"><i class="fa fa-wrench fa-fw"></i>Tasks</span></a>
                </li>
                <li>
                    <a href="" ng-click="go('/resources')"><i class="fa fa-edit fa-fw"></i> Resources</a>
                </li>
        </div>
    </div>
    
    <!--fine sinistra-->
</nav>